.HeaderContainer {
  background-color: #0f0e17;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
  top: 0;
  position: fixed;
  z-index: 999;
}

@media (max-width: 767px) {
  .HeaderContainer {
    display: none;
  }
}

.NavList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavList a {
  color: #fffffe;
  text-decoration: none;
  font-weight: bold;
}

.Button {
  background-color: #ff8906;
  border: none;
  width: 80px;
  border-radius: 4px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .Button:hover {
  background-color: #f0f0f0;
} */

.MainContainer {
  background-color: #0f0e17;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.IntroContainer {
  height: 100vh;
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.SubContainer {
  min-height: 100vh;
  --w: 70%;
  width: var(--w);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .aboutContainer {
    --w: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.MeContainer {
  width: 50%;
  height: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
}

.paragraph {
  color: #a7a9be;
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .paragraph {
    font-size: 20px;
  }
}

.CloudContainer {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  overflow-x: hidden;
}

@media (max-width: 1270px) {
  .AboutContainer {
    flex-direction: column;
  }

  .MeContainer {
    width: 100%;
  }

  .CloudContainer {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .experiencesContainer {
    --w: 100%;
  }
}

.ExpContainer {
  overflow-x: hidden;
  /* min-width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  --w: 100%;
}

.boxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SmallProjectTitle {
  color: #fffffe;
  font-size: 40px;
  font-weight: bold;
}

.ContactContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ContactContainer a {
  background-color: #ff8906;
  border: none;
  /* width: 100px; */
  border-radius: 4px;
  height: 30px;
  padding: 10px;

  color: #fffffe;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactContainer .paragraph {
  max-width: 400px;
  text-align: center;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
